<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- Begin Head -->
    <head>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Megakit - HTML5 Theme</title>
        <meta name="keywords" content="HTML5 Theme" />
        <meta name="description" content="Megakit - HTML5 Theme">
        <meta name="author" content="keenthemes.com">


        <style>
            #my_modal {
                width: 1200px;
                height: 700px;
            }

            #my_modal .modal_close_btn {
                position: absolute;
                top: 10px;
                right: 13px;
            }
        </style>

        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">

        <!-- Vendor Styles -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/animate.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/themify/themify.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css"/>
        
        <link href="vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>

        <!-- Theme Styles -->
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="css/global/global.css" rel="stylesheet" type="text/css"/>

        <!-- All core CSS -->
        <link href="css/hori_scroll/all.css" rel="stylesheet">
        <link href="css/hori_scroll/style.css" rel="stylesheet">
        <link href="css/hori_scroll/colors.css" rel="stylesheet">
        <link href="css/hori_scroll/bootstrap.css" rel="stylesheet">
        <link href="css/review_swiper.css" rel="stylesheet" !imporant;>
        <link href="css/font-awesome.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    </head>
    <!-- End Head -->

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <div class="s-header__navbar">
                <div class="s-header__container">
                    <div class="s-header__navbar-row">
                        <div class="s-header__navbar-row-col">
                            <!-- Logo -->
                            <div class="s-header-v2__logo">
                                <a href="/" class="s-header-v2__logo-link">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="img/index/MOCA_icon_white.png" alt="Dublin Logo">
                                    <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="img/index/moca_icon.png" alt="Dublin Logo">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>
                        <div class="s-header__navbar-row-col">
                            <!-- Trigger -->
                            <a href="javascript:void(0);" class="s-header__trigger s-header__trigger--dark js__trigger">
                                <span class="s-header__trigger-icon"></span>
                                <svg x="0rem" y="0rem" width="3.125rem" height="3.125rem" viewbox="0 0 54 54">
                                    <circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                                </svg>
                            </a>
                            <!-- End Trigger -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->

            <!-- Overlay -->
            <div class="s-header-bg-overlay js__bg-overlay">
                <!-- Nav -->
                <nav class="s-header__nav js__scrollbar">
                    <div class="container-fluid">
                        <!-- Menu List -->                                
                        <ul class="list-unstyled s-header__nav-menu">
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_clinic.html">Main</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="team.html">팀 소개</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="faq.html">브랜드 소개</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="about.html">이벤트 소개</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="index_portfolio.html">리뷰</a></li>
                        </ul>
                        <!-- End Menu List -->
                    </div>
                </nav>
                <!-- End Nav -->
                
                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--lb">
                    <li class="s-header__action-item"><a class="s-header__action-link -is-active" href="#">En</a></li>
                    <li class="s-header__action-item"><a class="s-header__action-link" href="#">Fr</a></li>
                </ul>
                <!-- End Action -->

                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--rb">
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://www.behance.net/keenthemes">
                            <i class="g-padding-r-5--xs ti-facebook"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Facebook</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://twitter.com/keenthemes">
                            <i class="g-padding-r-5--xs ti-twitter"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Twitter</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="https://dribbble.com/keenthemes">
                            <i class="g-padding-r-5--xs ti-dribbble"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Dribbble</span>
                        </a>
                    </li>
                </ul>
                <!-- End Action -->
            </div>
            <!-- End Overlay -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== PROMO BLOCK ==========-->
        <div class="g-bg-color--sky-light">
            <div class="container g-padding-y-125--xs">
                <div class="g-padding-y-50--xs">
                    <h1 class="g-font-size-35--xs g-font-size-55--sm g-font-size-70--lg">We're Megakit</h1>
                    <p class="g-font-size-22--xs g-font-size-24--md g-margin-b-0--xs">Reimagining the real app experience and leading brands.</p>
                </div>
            </div>
        </div>
        <!--========== END PROMO BLOCK ==========-->


        <p style="margin-top: 100px; margin-bottom: 40px; margin-left: 100px; text-align: center;">요즘 뜨는 카페</p>
        <section class="section lb" style="width: 1140px;  display: block; margin: 0px auto;"> 
            <div style="margin-left: 100px; margin-right: 100px; margin: 0px auto;"> <!--bootstrap.css-->
                <div id="works_01" class="owl-carousel  owl-style-02"> <!--all.css에 있음-->  
                    <!-- all.js에서 $('#works_01').owlCarousel({ 찾으면 한 줄에 표시할 수 있는 갯수 조정 가능-->
                    <div class="owl-work-item">
                        <div class="portfolio-ver-01">
                            <div class="media-element">
                                <img src="img/upload/insta_01.jpg" alt="" class="img-fluid">
                            </div><!-- end media -->
                            <div class="portfolio-details"> 
                                <h4>공부하기 좋은 카페</h4> <!--style.css  .portfolio-details h4-->
                            </div><!-- end details -->
                            <div class="portfolio-meta clearfix">
                                <div class="float-left">
                                    <mark>hana_two3</mark>
                                </div>
                                <div class="float-right">
                                    <a href="#"><i class="fa fa-heart-o"></i> 975</a>
                                    <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                                </div>

                                <div class="float-right" style="margin-right: 10px;">
                                    <a href="#"><i class="fa fa-film"></i> 1.2k </a>
                                    <!-- eye = fa fa-eye_open (font-awesom.min.css)-->
                                </div>
                            </div><!-- end meta -->
                        </div><!-- end portfolio-ver -->
                    </div><!-- end col -->




                    <div class="owl-work-item">
                        <div class="portfolio-ver-01">
                            <div class="media-element">
                                <img src="img/upload/insta_02.jpg" alt="" class="img-fluid">
                            </div><!-- end media -->
                            <div class="portfolio-details"> 
                                <h4>공릉 탐앤탐스</h4>
                            </div><!-- end details -->
                        
                            <div class="portfolio-meta clearfix">
                                <div class="float-left">
                                    <mark>#24시간</mark>
                                </div>
                                <div class="float-right">
                                    <a href="#"><i class="fa fa-heart-o"></i> 975</a>
                                    <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                                </div>

                                <div class="float-right" style="margin-right: 10px;">
                                    <a href="#"><i class="fa fa-film"></i> 1.2k </a>
                                    <!-- eye = fa fa-eye_open (font-awesom.min.css)-->
                                </div>
                            </div><!-- end meta -->
                        </div><!-- end portfolio-ver -->
                    </div><!-- end col -->

                    <div class="owl-work-item">
                        <div class="portfolio-ver-01">
                            <div class="media-element">
                                <img src="img/upload/insta_02.jpg" alt="" class="img-fluid">
                            </div><!-- end media -->
                            <div class="portfolio-details"> 
                                <h4>공릉 탐앤탐스</h4>
                            </div><!-- end details -->
                        
                            <div class="portfolio-meta clearfix">
                                <div class="float-left">
                                    <mark>#24시간</mark>
                                </div>
                                <div class="float-right">
                                    <a href="#"><i class="fa fa-heart-o"></i> 975</a>
                                    <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                                </div>

                                <div class="float-right" style="margin-right: 10px;">
                                    <a href="#"><i class="fa fa-film"></i> 1.2k </a>
                                    <!-- eye = fa fa-eye_open (font-awesom.min.css)-->
                                </div>
                            </div><!-- end meta -->
                        </div><!-- end portfolio-ver -->
                    </div><!-- end col -->


                    <div class="owl-work-item">
                        <div class="portfolio-ver-01">
                            <div class="media-element">
                                <img src="img/upload/insta_02.jpg" alt="" class="img-fluid">
                            </div><!-- end media -->
                            <div class="portfolio-details"> 
                                <h4>공릉 탐앤탐스</h4>
                            </div><!-- end details -->
                        
                            <div class="portfolio-meta clearfix">
                                <div class="float-left">
                                    <mark>#24시간</mark>
                                </div>
                                <div class="float-right">
                                    <a href="#"><i class="fa fa-heart-o"></i> 975</a>
                                    <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                                </div>

                                <div class="float-right" style="margin-right: 10px;">
                                    <a href="#"><i class="fa fa-film"></i> 1.2k </a>
                                    <!-- eye = fa fa-eye_open (font-awesom.min.css)-->
                                </div>
                            </div><!-- end meta -->
                        </div><!-- end portfolio-ver -->
                    </div><!-- end col -->


                    <div class="owl-work-item">
                        <div class="portfolio-ver-01">
                            <div class="media-element">
                                <img src="img/upload/insta_02.jpg" alt="" class="img-fluid">
                            </div><!-- end media -->
                            <div class="portfolio-details"> 
                                <h4>공릉 탐앤탐스</h4>
                            </div><!-- end details -->
                        
                            <div class="portfolio-meta clearfix">
                                <div class="float-left">
                                    <mark>#24시간</mark>
                                </div>
                                <div class="float-right">
                                    <a href="#"><i class="fa fa-heart-o"></i> 975</a>
                                    <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                                </div>

                                <div class="float-right" style="margin-right: 10px;">
                                    <a href="#"><i class="fa fa-film"></i> 1.2k </a>
                                    <!-- eye = fa fa-eye_open (font-awesom.min.css)-->
                                </div>
                            </div><!-- end meta -->
                        </div><!-- end portfolio-ver -->
                    </div><!-- end col -->

                       

                    <div class="owl-work-item">
                        <div class="portfolio-ver-01">
                            <div class="media-element">
                                <img src="img/upload/insta_02.jpg" alt="" class="img-fluid">
                            </div><!-- end media -->
                            <div class="portfolio-details"> 
                                <h4>공릉 탐앤탐스</h4>
                            </div><!-- end details -->
                        
                            <div class="portfolio-meta clearfix">
                                <div class="float-left">
                                    <mark>#24시간</mark>
                                </div>
                                <div class="float-right">
                                    <a href="#"><i class="fa fa-heart-o"></i> 975</a>
                                    <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                                </div>

                                <div class="float-right" style="margin-right: 10px;">
                                    <a href="#"><i class="fa fa-film"></i> 1.2k </a>
                                    <!-- eye = fa fa-eye_open (font-awesom.min.css)-->
                                </div>
                            </div><!-- end meta -->
                        </div><!-- end portfolio-ver -->
                    </div><!-- end col -->         
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->
        <!-- end wrapper -->
        <!--========== PAGE CONTENT ==========-->
        <!-- Cafe Filter -->        
        <div class="container g-padding-y-50--xs" style="margin-top: 100px;">
            <div class="s-portfolio">
                <div id="js__filters-portfolio-gallery" class="s-portfolio__filter-v1 cbp-l-filters-text cbp-l-filters-center">
                    <div data-filter="*" class="s-portfolio__filter-v1-item cbp-filter-item cbp-filter-item-active">Show All</div>
                    <div data-filter=".graphic" class="s-portfolio__filter-v1-item cbp-filter-item">공부하기 좋은</div>
                    <div data-filter=".logos" class="s-portfolio__filter-v1-item cbp-filter-item">사진찍기 좋은</div>
                    <div data-filter=".motion" class="s-portfolio__filter-v1-item cbp-filter-item">수다떨기 좋은</div>
                </div>
            </div>
        </div>
        <!-- End Portfolio Filter -->

        <!-- Portfolio Gallery -->
        <div class="container" style="margin-bottom: 200px;">
            <div id="js__grid-portfolio-gallery" class="cbp">
                <!--item hover color : .s-portfolio__img-effect:after     on style.css-->
                <!-- Item -->
                <div class="s-portfolio__item cbp-item logos motion">
                    <div class="s-portfolio__img-effect">
                        <img src="img/400x500/01.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h2 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h2>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <button id="popup_open_btn" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle">
                                    <i class="ti-fullscreen"></i>
                                </button>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item graphic">
                    <div class="s-portfolio__img-effect">
                        <img src="img/970x647/06.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h3 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h3>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/970x647/06.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item logos">
                    <div class="s-portfolio__img-effect">
                        <img src="img/400x500/02.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">popup test</h4>
                            <p class="g-color--white-opacity">test</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="/review_test" onclick="window.open(this.href, _blank, width='120px',height='600px',toolbars=no,scrollbars=no); return false;" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle"></a>
                                <i class="ti-fullscreen"></i>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item motion graphic">
                    <div class="s-portfolio__img-effect">
                        <img src="img/400x550/01.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h4>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/400x550/01.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item logos graphic">
                    <div class="s-portfolio__img-effect">
                        <img src="img/970x647/09.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h4>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/970x647/09.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item motion graphic">
                    <div class="s-portfolio__img-effect">
                        <img src="img/970x647/04.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h4>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/970x647/04.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item logos">
                    <div class="s-portfolio__img-effect">
                        <img src="img/400x500/03.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h4>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/400x500/03.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item motion graphic">
                    <div class="s-portfolio__img-effect">
                        <img src="img/400x500/04.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h4>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/400x500/04.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item motion graphic">
                    <div class="s-portfolio__img-effect">
                        <img src="img/970x647/07.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h4>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/970x647/07.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item -->
                <div class="s-portfolio__item cbp-item motion graphic">
                    <div class="s-portfolio__img-effect">
                        <img src="img/970x647/05.jpg" alt="Portfolio Image">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Portfolio Item</h4>
                            <p class="g-color--white-opacity">by KeenThemes Inc.</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="img/970x647/05.jpg" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-icon s-icon--sm s-icon s-icon--white-bg g-radius--circle">
                                    <i class="ti-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Portfolio Gallery -->


    
        </div>
        <!-- End Portfolio -->



        <div style="background-color: #F5F5F5; height: 400px; margin-bottom: 200px;">
            
        <div style="width: 1140px;  height: 400px; display: block; margin: 0px auto;" >
            <p>원데이 클래스 소개</p>
            <img src="img/upload/insta_02.jpg" style="block-size: 250px; float: right;">
        </div>
        </div>
        <!--========== END PAGE CONTENT ==========-->

        <!--========== POPUP ==========-->

        <div id="my_modal">
            <a class="modal_close_btn">
                <i class="ti-fullscreen"></i>
            </a>

            <table width="100%" !important;>
                <tr>
                    <td rowspan="2">
                        <!--========== REVIEW SWIPER SLIDER ==========-->
                        <div id="slider-wrap">
                            <ul id="rv-slider">
                                <li id="rv">
                                    <img id="rvi" src="img/upload/insta_01.jpg">
                                </li>
                        
                                <li id="rv">
                                    <img id="rvi"src="https://fakeimg.pl/350x200/D27328/000?text=22222">
                                </li>
                        
                                <li id="rv">
                                    <img id="rvi" src="https://fakeimg.pl/350x200/FF607F/000?text=33333">
                                </li>
                        
                                <li id="rv">
                                    <img id="rvi" src="https://fakeimg.pl/350x200/0A6E0A/000?text=44444">
                                </li>
                        
                            </ul>
                        
                            <div class="slider-btns" id="next"><span>▶</span></div>
                            <div class="slider-btns" id="previous"><span>◀</span></div>
                        
                            <div id="slider-pagination-wrap">
                                <ul>
                                </ul>
                            </div>
                        </div>
                            
                        <!--========== END SWIPER SLIDER ==========-->
                    </td>
                    <td width="50%" style="height: 320px; background:white; padding-left: 30px;  padding-right: 30px;" >
                       <table>
                        <tr style="height: 50px; padding-top:10px">
                            <td colspan='5' style="font-size: 27px; color:#5D5D5D; font-weight: bold;  vertical-align:middle;">
                                공릉하나카페
                            </td>
                        </tr>
                        <tr style="height: 20px; vertical-align: bottom; ">
                            <td>
                                @hana_two3
                            </td>
                            <td  style=" padding-right: 10px;"> | </td>

                            <td>
                                12월 06일
                            </td>
                            <td  style="padding-left:10px; padding-right: 10px;"> | </td>
                            <td>
                                서울_대한민국
                            </td>
                        </tr>
                        <tr  style="height: 180px; vertical-align: top;">
                            <td colspan='5'style="padding-top:30px; color:#5D5D5D; font-size: 18px; line-height:100%; ">
                                콘센트가 많아서 공부하기 좋아요! <p> </p>인스타용 사진찍기도 좋습니다.
                            </td>
                        </tr>
                        <tr style="height: 20px">
                            <td colspan='5' style="color: #F2AE8B;">
                                #서울 #공릉 #철길 #공부하기좋은 #인스타갬성
                            </td>
                        </tr>
                       </table>
                    </td>
                </tr>
                <tr width="50%" style="background: white;">
                    <td style="vertical-align: top;">
                        <hr width="100%"> <!--구분선-->
                                        <table height="240px" style="color:#5D5D5D;">
                                            <tr>
                                                <td colspan='2' style="font-size: 27px; color:#5D5D5D; font-weight: bold; padding-left :30px; padding-top:10px; padding-bottom:10px; vertical-align: top;">
                                                        COMMENT
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="110px" style="padding-left: 30px;">
                                                    gyu1234
                                                </td>
                                                <td style="padding-left: 20px;">
                                                    저는 불편했어요
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="110px" style="padding-left: 30px;">
                                                    gyu1234
                                                </td>
                                                <td style="padding-left: 20px;">
                                                    저는 불편했어요
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="110px" style="padding-left: 30px;">
                                                    gyu1234
                                                </td>
                                                <td style="padding-left: 20px;">
                                                    저는 불편했어요
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="110px" style="padding-left:30px;">
                                                    gyu1234
                                                </td>
                                                <td style="padding-left: 20px;">
                                                    저는 불편했어요
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="110px" style="padding-left: 30px;">
                                                    gyu1234
                                                </td>
                                                <td style="padding-left: 20px;">
                                                    저는 불편했어요
                                                </td>
                                            </tr>


                                        </table>
                        <hr width="100%"> <!--구분선-->
                        <div class="float-left" style="font-size: 32px; color:#5D5D5D; padding-left:30px;">
                            <a href="#"><i class="fa fa-heart-o"></i> 25</a>
                            <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                        </div>

                        <div class="float-right" style="font-size: 32px; color:#5D5D5D; padding-right:40px;">
                            <a href="#"><i class="fa fa-download"></i></a>
                            <!-- filled heart = fa fa-heart (font-awesom.min.css)-->
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <script>
            function modal(id) {
                var zIndex = 9999;
                var modal = document.getElementById(id);

                var bg = document.createElement('div');
                bg.setStyle({
                    position: 'fixed',
                    zIndex: zIndex,
                    left: '0px',
                    top: '0px',
                    width: '100%',
                    height: '100%',
                    overflow: 'auto',
                    backgroundColor: 'rgba(0,0,0,0.4)'
                });
                document.body.append(bg);

                modal.querySelector('.modal_close_btn').addEventListener('click', function() {
                    bg.remove();
                    modal.style.display = 'none';
                });

                modal.setStyle({
                    position: 'fixed',
                    display: 'block',
                    boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

                    zIndex: zIndex + 1,

                    top: '50%',
                    left: '50%',
                    transform: 'translate(-50%, -50%)',
                    msTransform: 'translate(-50%, -50%)',
                    webkitTransform: 'translate(-50%, -50%)'
                });
            }

            Element.prototype.setStyle = function(styles) {
                for (var k in styles) this.style[k] = styles[k];
                return this;
            };

            document.getElementById('popup_open_btn').addEventListener('click', function() {
                modal('my_modal');
            });
        </script>






        <!--========== POPUP END ==========-->



        
        <!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Home</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">About</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Work</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Facebook</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Instagram</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">YouTube</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Subscribe to Our Newsletter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Privacy Policy</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">Megakit</h3>
                            <p class="g-color--white-opacity">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="index_clinic.html">
                            <img class="g-width-100--xs g-height-auto--xs" src="img/index_clinic/moca_icon.png" alt="Megakit Logo">
                        </a>
                    </div>
                    <div class="col-xs-6 g-text-right--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="http://keenthemes.com/preview/Megakit/">Megakit</a> Theme Powered by: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

        <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
        <!-- Vendor -->
        <script type="text/javascript" src="vendor/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.migrate.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.smooth-scroll.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.back-to-top.min.js"></script>
        <script type="text/javascript" src="vendor/scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="vendor/swiper/swiper.jquery.min.js"></script>
        <script type="text/javascript" src="vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.wow.min.js"></script>

        <!-- General Components and Settings -->
        <script type="text/javascript" src="js/global.min.js"></script>
        <script type="text/javascript" src="js/components/header-sticky.min.js"></script>
        <script type="text/javascript" src="js/components/scrollbar.min.js"></script>

        <script type="text/javascript" src="js/components/review_swiper.js"></script>
        <script type="text/javascript" src="js/components/portfolio-3-col.min.js"></script>
        <script type="text/javascript" src="js/components/wow.min.js"></script>

        <!--아래 두줄 빼야 포폴그림 나타남..-->
        <script type="text/javascript" src="js/components/horizontal_scroll_list.js"></script>

        <!--========== END JAVASCRIPTS ==========-->

    </body>
    <!-- End Body -->
</html>
